<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) %></title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
